<div class="comments">
  {{#each comments as |comment|}}
    <div class="comment">
      <p>{{comment.comment_content}}</p>
      <p>Posted by {{comment.username}} on {{format_date comment.created_at}}</p>
    </div>
  {{/each}}
</div>