<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="user-details">
      {{user.username}} on {{format_time created_at}}
    </div>
    <div class="content">
      {{comment_content}}
    </div>
  </section>
  {{/each}}
</div>