<div="container-fluid">
   <div class="card text">
      <div class="card-header">
         {{title}}
      </div>
      <div class="card-body">
         
         <p class="card-text">{{content}}</p>
         <button type="submit" value="submit" class="btn btn-primary">Go to post</button>
      </div>
      <div class="card-footer text-muted">
         {{ author }} {{ entry_date }}
      </div>
   </div>
   </div>