<div="container-fluid">
   <div class="card text">
      <div class="card-header">
         {{title}}
      </div>
      <div class="card-body">
         {{!-- <h5 class="card-title">Special title treatment</h5> --}}
         <p class="card-text">{{content}}</p>
         <a href="#" class="btn btn-primary">Go to post</a>
      </div>
      <div class="card-footer text-muted">
         {{ author }} {{ date-of-posting}}
      </div>
   </div>
   </div>