<section>
  <a href="/dashboard" class=""> &larr; Return to Dashboard</a>
    <div class="card-header card-header-title">
  <h2 class="title">Create a New Blog Entry</h2>
  </div>
  <form class="add-entry-form">
    <div>
      <label for="entry-title">Title</label>
      <input class="input" type="text" id="entry-title" name="entry-title" placeholder="insert blog title here" />
    </div>
    <div>
      <div>
        <label for="entry-content">Content:</label>
        <div class="input-group">
        <textarea class="form-control" name="entry-content" type="text" rows="10" placeholder="Start typing..." /></textarea>
      </div>
    </div>
    <button type="submit" class="button btn btn-success">Add Blog Entry</button>
  </form>
</section>

<script src="/js/addEntry.js"></script>