    <div class="mb-5 pt-3">
        <a href="/dashboard/add/"><button id="add-post" class="button">Add Blog Entry</button></a>
        
        <h2 class="title">Dashboard View</h2><hr>
{{#if entries.length}}
    </div>

    {{#each entries as |entry|}}
        {{> entries-info entry}}
        
            <a href="/dashboard/edit/{{entry.id}}"><button class="button">Edit Entry</button></a>
        </div>
    {{/each}}

{{else}}
<h4 class="">No Posts Yet!</h4>

{{/if}}
