   <div class="card-header card-header-title mb-5 pt-3">
    <h2 class="title">Welcome to your dashboard!</h2>
    </div>
{{#if entries.length}}
    {{#each entries as |entry|}}
        {{> entryInfo entry}}
        
    <a href="/dashboard/entry/{{entry.id}}"><button class="button btn btn-warning">Edit Entry</button></a>
    {{/each}}
 <a href="/dashboard/add/"><button id="add-post" class="button btn btn-success">Add New Blog Entry</button></a>
{{else}}
<h4 class="">No Posts Yet!</h4>
<a href="/dashboard/add/"><button id="add-post" class="button btn btn-success">Add New Blog Entry</button></a>
<a href="/"><button id="add-post" class="button btn btn-secondary">View All</button></a>

{{/if}}
<form class="logout-form">
    <a href="/user/logout"><button class="button btn btn-secondary" type="submit">Logout</button></a>
</form>

<script src="js/logout.js"></script>