<div class="container-fluid">>
   <h3 class="title">Your previous entries:</h3>
{{> allEntries }}
<form class="" id="edit-entry-form">
<a href="/dashboard/edit/{{entry.id}}"><button class="button" type="submit">Edit Entry</button></a>
</form>
</div>

