<div class="container-fluid">>
   <h3 class="title">Your previous entries:</h3>
{{> allEntries }}
<a href="/dashboard/edit/{{entry.id}}"><button class="button" type="submit">Edit Entry</button></a>
</div>

