<div="container-fluid">
   <div class="card text">
      <div class="card-header">
         {{title}}
      </div>
      <div class="card-body">
         <p class="card-text">{{content}}</p>
      </div>
      <div class="card-footer text-muted">
         {{ user.username }} {{ entry_date }}
      </div>

     {{#if loggedIn}}
      <form class="comment-form">
         <div>
            <textarea class="form-control" name="comment-content"></textarea>
         </div>
         <section class="comment-button">
            <button type="submit" value="submit" class="btn btn-primary">Add Comment</button>
         </section>
         {{> comments post.comments}}
      {{/if}}
   </div>
</div>
 <script src="/dev-blog/public/js/comment"></script>