{{> entry-info entry}}


{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="ml-5" name="comment-content"></textarea>
  </div>

  <div>
    <button class="button is-warning ml-5 mb-5" type="submit">Comment</button>
  </div>
  
</form>
{{/if}}

{{> comments entry.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}