{{> entry-info entry}}


{{#if loggedIn}}
Leave a comment: 

<form class="comment-form">
  <div>
    <textarea class="ml-5" name="comment-content"></textarea>
  </div>
  <div>
    <button class="button" type="submit">Comment</button>
  </div>
  <button class="button" type="submit">Logout</button>
</form>
{{/if}}

{{> comments entry.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
<script src="/js/logout.js"></script>
{{/if}}