{{#each entries as |entry|}}

{{> entryInfo entry }}
</div>

{{else}}
<h6 class="pb-3">No Entries to Show</h6>
{{/each}}
<div class="card mb-6">
   <div class="column">
      <a href="/dashboard/add/"><button class="button" type="submit">Add New Blog Entry</button></a></p>
    </div>
    </card>
   {{#if loggedIn}}
<form class="logout-form">
    <a href="/user/logout"><button class="button" type="submit">Logout</button></a>
</form>
</card>
<script src="js/logout.js"></script>
{{/if}}
</div>
