<div class="container-fluid mt-5">
<div class="card mb-3 mx-auto p-4" style="max-width: 30rem;">
 <div class="signup-card">
   <div class="card-header mb-2"><h2>Sign Up</h2></div>
    <form class="form signup-form">
        <div class="form-group px-5">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup">
        </div>
        <div class="form-group px-5">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup">
        </div>
        <div class="form-group px-5">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup">
         </div>
        <div class="form-group px-5">
        <button class="btn btn-primary" id="signup-button" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>
</div>

<script src="./js/signup.js"></script>
